In [2]:
# import the library and give it a shorter name 'pd'
import pandas as pd

# create a dataframe by hand with two columns and three rows
df = pd.DataFrame({
        'month': [1, 2, 3, 4, 5, 6],
        'temperatur': [-12, 3, 9, -5, 20, 13]
})

# print out some descriptive statistics
df.describe()

          month  temperatur
count  6.000000    6.000000
mean   3.500000    4.666667
std    1.870829   11.809601
min    1.000000  -12.000000
25%    2.250000   -3.000000
50%    3.500000    6.000000
75%    4.750000   12.000000
max    6.000000   20.000000